{% load static %}{% load iconic %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi primera Pagina WEB{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block extra_head %}{% endblock %}
</head>   
<body>

  <h1 class="titulo">{% block titulo_encabezado %}Bienvenidos a su nueva aplicación Django{% endblock %}</h1>

  <div class="menu-botones">
      <a href="/redocs/" class="btn btn-success">API -Redocs </a>
      <a href="/apidocs/" class="btn btn-success">API - Apidocs</a>  
      <a href="/admin/" class="btn btn-success">Admin</a>
      <a href="/primera_app/" class="btn btn-primary">Primera app</a>
      <a href="/primera_app/Nacionalidad/" class="btn btn-info">Nacionalidad</a>
      <a href="/primera_app/Autor/" class="btn btn-info">Autor</a>
      <a href="/primera_app/Comuna/" class="btn btn-info">Comuna</a>
      <a href="/primera_app/Direccion/" class="btn btn-info">Direccion</a>
      <a href="/primera_app/bibliotecas/" class="btn btn-info">Bibliotecas</a>
      <a href="/primera_app/lectores/" class="btn btn-info">Lectores</a>
      <a href="/primera_app/tipos-categorias/" class="btn btn-info">TiposCategorias</a>
      <a href="/primera_app/categorias/" class="btn btn-info">categorias</a>
      <a href="/primera_app/libros/" class="btn btn-info">libros</a>
      <a href="/primera_app/prestamos/" class="btn btn-info">prestamos</a>
      <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar Sesion</a>
  </div>

</body>
</html>
