{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi pagina</title>
    <link = rel="stylesheet" href="{% static 'css\bootstrap.css' %}">
</head>
<body>
    <div class="row">
      <div class="row navegacion"></div>
      <hr />
      <div class="row principal">
        <div class="col-4"></div>
        <div class="col-8">
          <h3>Bienvenidos a su nueva aplicación Django</h3>
          <h3>Hola lol</h3>
        </div>
      </div>
      <div class="row footer"></div>
    </div>

    <script src="" async defer></script>
</body>
</html>